.Button{
    height:10%;
    width: 30%;
    background-color: #9b9b9b;
    text-decoration: none;
    color: #e7eaed;
    font-size: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-box{
    margin-left: 15px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent; /* Height of the triangle */
    border-bottom: 10px solid transparent; /* Height of the triangle */
    border-left: 10px solid #e7eaed;
}